*.o
*.so
*.so.*
*.a
*.xml
*.log
*.d
*.pyc
*.out
*.swp

pqos/pqos
pqos/obj

rdtset/rdtset

examples/c/CAT_MBA/allocation_app_l2cat
examples/c/CAT_MBA/allocation_app_l3cat
examples/c/CAT_MBA/allocation_app_mba
examples/c/CAT_MBA/association_app
examples/c/CAT_MBA/reset_app
examples/c/CMT_MBM/monitor_app
examples/c/PSEUDO_LOCK/pseudo_lock

tools/membw/membw

appqos/appqos.crt
appqos/appqos.key
appqos/ca/*.key
appqos/ca/*.crt
appqos/ca/*.csr
appqos/ca/*.srl
appqos/env_*
appqos/venv_*
appqos/.coverage
appqos/dist
appqos/appqos.egg-info
appqos/Pipfile.lock
appqos/build

lib/python/.coverage
lib/python/test_env
lib/python/venv_*
lib/python/dist
lib/python/pqos.egg-info

lib/perl/Makefile
lib/perl/Makefile.old
lib/perl/pqos.bs
lib/perl/pqos_wrap.c
lib/perl/blib
lib/perl/MYMETA.json
lib/perl/MYMETA.yml
lib/perl/pm_to_blib

bat/test_env

venv

unit-test/lib/obj
unit-test/lib/bin
unit-test/pqos/bin
