*.o
*.so
*.so.*
*.a
*.xml
*.log
*.d
*.pyc
pqos/pqos
rdtset/rdtset

examples/c/CAT_MBA/allocation_app_l2cat
examples/c/CAT_MBA/allocation_app_l3cat
examples/c/CAT_MBA/allocation_app_mba
examples/c/CAT_MBA/association_app
examples/c/CAT_MBA/reset_app
examples/c/CMT_MBM/monitor_app
examples/c/PSEUDO_LOCK/pseudo_lock

tools/membw/membw

appqos/appqos.crt
appqos/appqos.key
appqos/env_*
appqos/venv_*

lib/python/.coverage
lib/python/test_env
lib/python/venv_*

bat/test_env

venv

unit-test/lib/obj
unit-test/lib/bin

