[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = ">=3.6.0"
pytest-timeout = "*"
pexpect = "*"
jsonschema = "*"
psutil = "*"

[dev-packages]
codespell = "*"
bandit = "*"
pylint = "*"

[requires]
