[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
pexpect = "*"
flask = "*"
flask-restful = "*"
gevent = "*"
psutil = "*"
pqos = {path = "../lib/python"}

[dev-packages]
pwr = {git = "https://github.com/intel/CommsPowerManagement.git", ref = "pwr-v0.2.2", subdirectory = "pwr"}
flask-cors = "*"
bandit = "*"
pylint = "==2.17.0"
pytest = "*"
pytest-cov = "*"
mock = "*"
caniusepython3 = "*"
requests = "*"
codespell = "*"
build = "*"
