[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
pexpect = "*"
flask = "*"
flask-restful = "*"
gevent = "*"
psutil = "*"
pqos = {path = "../lib/python"}
pwr = {git = "https://github.com/intel/CommsPowerManagement.git", ref = "pwr-v0.2.1", subdirectory = "pwr"}

[dev-packages]
flask-cors = "*"
bandit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
mock = "*"
caniusepython3 = "*"
requests = "*"
codespell = "*"
build = "*"
