astroid
pylint
bandit
jsonschema
pexpect
requests
flask
flask_httpauth
flask_restful
pytest
pytest-cov
mock
git+https://github.com/intel/CommsPowerManagement.git@pwr-v0.2.1#egg=pwr&subdirectory=pwr
caniusepython3
