name: github/unit-test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  unit-test:
    name: Execute C unit tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
    - name: Install Dependencies
      run: sudo apt install gcc libcmocka-dev
    - name: Build
      run: make -C unit-test
    - name: Execute
      run: make -C unit-test run
